* {margin: 0;}

header {display: hidden;}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background: url(starbg.jpg) !important;
}

section#banner {
    position: relative;
    z-index: 80;
}

#banner h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: xx-large;
    z-index: 100;
}

.hbodies {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat important;
    background-size: contain important;
}

#pl1 {
    background: url(gifs/pl1.gif);
    scale: 5;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 45vh;
    right: 10vw;
}

#pl2 {
    background: url(gifs/pl2.gif);
    width: 100px;
    height: 100px;
    animation-name: motion1;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
}

#pl3 {
    background: url(gifs/pl3.gif);
    width: 200px;
    height: 200px;
    animation-name: motion2;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
}

#pl4 {
    background: url(gifs/pl4.gif);
    width: 100px;
    height: 100px;
    animation-name: motion3;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
    position: absolute;
    bottom: 50vh;
    right: 50vw;
}

@keyframes motion1 {
    from{transform: translate(-10vw,40vh);}
    to{transform: translate(3vw,-5vh);}
}

@keyframes motion2 {
    from{transform: translate(50vw,-40vh);}
    to{transform: translate(15vw,12vh);}
}

@keyframes motion3 {
    from {transform: rotate(120deg);}
    to {transform: rotate(90deg)}
}