* {margin: 0;}

header {display: hidden;}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background: url(starbg.jpg) !important;
}

section#banner {
    position: relative;
    z-index: 80;
}

#banner h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: xx-large;
    z-index: 200;
    text-align: center;
    position: relative;
    top: 35vh;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.hbodies {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat important;
    background-size: contain important;
}

#pl1 {
    background: url(gifs/pl1.gif);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 45vh;
    right: 10vw;
    animation-name: motion4;
    animation-iteration-count: infinite; /* loop */
    animation-duration: 2s;
    scale: 5;
}

#pl2 {
    background: url(gifs/pl2.gif);
    width: 100px;
    height: 100px;
    animation-name: motion1;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
}

#pl3 {
    background: url(gifs/pl3.gif);
    width: 200px;
    height: 200px;
    animation-name: motion2;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
}

#pl4 {
    background: url(gifs/pl4.gif);
    scale: 2;
    width: 100px;
    height: 100px;
    animation-name: motion3;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* loop */
    position: absolute;
    bottom: 50vh;
    right: 50vw;
}

#pl5 {
    background: url(gifs/pl5.gif);
    width: 100px;
    height: 100px;
    animation-name: motion5;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* loop */
    position: absolute;
    bottom: 5vh;
    right: 70vw;
}

@keyframes motion1 {
    from{transform: translate(-10vw,40vh);}
    to{transform: translate(20vw,-50vh);}
}

@keyframes motion2 {
    from{transform: translate(50vw,-40vh);}
    to{transform: translate(-30vw,30vh);}
}

@keyframes motion3 {
    from {transform: rotate(120deg);}
    to {transform: rotate(90deg)}
}

@keyframes motion4 {
    from {transform: skew(-0.06turn, 18deg);}
    to {transform: skew(.312rad);}
}

@keyframes motion5 {
    from {transform: scale(0.5) translate(-35vw,25vh);}
    to {transform: scale(1.5) translate(20vw,-50vh);}
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}